<h2>Región</h2>
<hr />

<div class="row">
  <div class="col text-center">
    <button
      class="btn btn-outline-primary mx-1"
      [ngClass]="{
        'btn-primary': selectedRegion === region,
        'text-white': selectedRegion === region
      }"
      *ngFor="let region of regions"
      (click)="searchByRegion(region)"
    >
      {{ region }}
    </button>
    <hr />
  </div>
</div>

<div *ngIf="isLoading" class="row mt-4">
  <shared-loading-spinner style="display: flex; justify-content: center" />
</div>

<div *ngIf="!isLoading" class="row">
  <div class="col">
    <countries-table [countries]="countries" />
  </div>
</div>
